@page "/"
@model Activity3PService.Pages.IndexModel
@{
}

<h1>Activity 3P Service</h1>
<h5>The time on the server is @DateTime.Now</h5>

<p>
    The following server is an API server that is used to test Microsoft Sustainability Manager Connection Plugin Framework.
    <br />
    See <a href="https://github.com/scheyal/src/tree/master/Activity3PService">Github Project</a> for more.
</p>
