@page "/"
@model Activity3PService.Pages.IndexModel
@{
}
<html>

<head>
    <style>
    code {
      font-family: Consolas,"courier new";
      color: darkgreen;
      background-color: #f1f1f1;
      padding: 2px;
      font-size: 105%;
    }
    </style>
</head>

<body>

    <h1>Activity 3P Service</h1>

    <p>
        API RESTful Ping Test URL:  <a href="@Model.TestURL">@Model.TestURL</a> <br />
        ==> <br/>
        <code>
            {
            "statusCode": 200,
            "message": "Test OK!",
            "count": 0,
            "activities": []
            }
        </code>
    </p>

    <p>
        The following server is an API server that is used to test Microsoft Sustainability Manager Connection Plugin Framework.
        <br />
        See <a href="https://github.com/scheyal/src/tree/master/Activity3PService">Github Project</a> for more.
    </p>
</body>

</html>

