@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This website does not collect and personal information. 
    To learn more, see more about <a href="https://privacy.microsoft.com/en-us/privacystatement">Microsfot Policy</a></p>
