@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container text-center">

    <h2>Artist Chat Bot</h2>
    <h4>Share and Learn About Team Music Favorites</h4>
    <h4><b>@Model.BotUrl</b></h4>
    <p>
        Follow the interview to share your favorite artists with your peers and find out what your peers are listening to.
    </p>
    <p>
        <img width="100%" src="https://botartbe.azurewebsites.net/img/WelcomeLZ.jpg" />
    </p>

</div>
